@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;  
}

body
{
    background-color: black;
    margin: 0px;
    font-size: 10px;

    height: 100vh;
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}


#titleTitle1
{
    width: 708px;
    height: 125;
    position: relative;
    left: 150px;
}

#titleTitle2
{
    width: 708px;
    height: 125;
    position: relative;
    left: 445px;
}



#mainContainer
{
    width: 1280px;
    height: 2280px;
    background-color: rgba(214, 11, 52, 0);
    margin: auto;
    position: relative;
}


.row
{
    width: 100%; 
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.col4{width:100%; margin: 0p; background-color: rgba(219, 217, 73, 0);}
.col3{width:100%; margin: 0px 30px 0px 150px; background-color: rgba(33, 241, 43, 0);}
.col2{width:100%; margin: 0px 150px 0px 35px ; background-color: rgba(255, 29, 199, 0);}
.col1{width:25%; margin: 0px  0px 0px 0px; background-color: rgba(128, 128, 128, 0);}

.col5{width:150px; margin: 0px  1130px 0px 0px; background-color: rgba(255, 7, 7, 0);}
.col6{width:1130px; margin: 0px  150px 0px 0px; background-color: rgba(255, 7, 7, 0);}

.col7{width:150px; margin: 0px  1130px 0px 0px; background-color: rgba(255, 7, 7, 0);}
.col8{width:1130px; margin: 0px  150px 0px 0px; background-color: rgba(255, 7, 7, 0);}

.h25{height: 25px;}
.h30{height: 30px;}
.h68{height: 25px;}
.h150{height: 150px;}
.h38{height: 38px;}
.h350{height: 350px;}
.h38{height: 38px;}

.h64{height: 64px;}
.h125{height: 125px;}
.h280{height: 280px;}
.h652{height: 652px;}








.bg{
    width: 100%;
    height: 100%;
    position: absolute;
}


.imgTitle
{
    width: 980px;
    height: 390px;
    position: relative;
}


#imgMap
{
    width: 520px;
    height: 563px;
    position: relative;
    left: 55px;
    bottom: 10px;
}


.basicImg
{
    width: 460px;
    height: 280px;
    position: relative;
}

.img
{
    width: 457px;
    height: 280px;
    position: absolute;
}

.img2
{
    width: 445px;
    height: 280px;
    position: relative;
}

.imgAl
{
    width: 100%;
    height: 100%;
    position: absolute;
    /*object-fit: cover;*/
}

.imgAl2
{
    width: 100%;
    height: 100%;
    position: absolute;
    /*object-fit: cover;*/
}


#imgMap
{
    top: 60px;
}


#imgCircle
{

    position: relative;
    left: 60px;
    top: 210px;
}


/*
#movCircle
{
    position: relative;
    left: 36px;
    top: -60px;
    z-index: -5;
}
*/




.textArea
{
    width: 460px;
    height: 280px;
    position: relative;
}

.subTitleFont
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;    
    color: #bf1a2d;
}

.titleFont
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;    
    color: white;
}



.title
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;    
    color: rgb(71, 37, 221);
}

.sub
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;    
    color: #bf1a2d;
}


hr
{
    width: 980px;
    margin: auto;
    background-color:#e30000;
    height: 1.1px;
    border: 0px;
    
}

.midleFont
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 500;    
    color: rgba(255, 255, 255, 0.8);
    
    line-height: 320%;
}


.mainFont
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;    
    color: rgba(255, 255, 255, 0.4);
    

    line-height: 190%;
}


/*양 옆 수직선*/
#v1 
{
    border-left: 1.5px solid #e30000;
    height: 2352px;
    position: absolute;
    left: 50%;
    margin-left: -491px;
    top: 0;
}


#v2
{
    border-left: 1.5px solid #e30000;
    height: 2352px;
    position: absolute;
    left: 50%;
    margin-left: 490px;
    top: 0;
}



/*본문 중간 중간 수직선*/
#v3
{
    border-left: 1.5px solid #e30000;
    height: 283px;
    position: absolute;
    left: 608px;
    
    top: 1227px;

}

#v4
{
    border-left: 1.5px solid #e30000;
    height: 283px;
    position: absolute;
    left: 672px;
    
    top: 1227px;
}


#v5
{
    border-left: 1.5px solid #b30000;
    height: 282px;
    position: absolute;
    left: 608px;
    
    top: 1790px;
}

#v6
{
    border-left: 1.5px solid #b30000;
    height: 282px;
    position: absolute;
    left: 672px;
    
    top: 1790px;

}








#movingText1
{
    width: 85px;
    height: 2280px; 
    position: absolute;
    background-image: url("img/movingTEXT.gif");
}
#movingText2
{
    width: 85px;
    height: 2280px; 
    position: absolute;
    right: 0px;
    background-image: url("img/movingTEXT.gif");
}




/*메인 텍스트*/
#mainText1
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 85px;
    text-indent: 16px;
}

#mainText3
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 40px;
    text-indent: 85px;
}

#mainText4
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 40px;
    text-indent: 115px;
}


#mainText5
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 72px;
    text-indent: 135px;
}


#mainText6
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.7rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 50px;
    text-indent: 12px;
}

#mainText7
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.7rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 40px;
    text-indent: 42px;
}



#mainText8
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 50px;
    text-indent: 360px;
}


#mainText9
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 50px;
    text-indent: 330px;
}

#mainText10
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 50px;
    text-indent: 360px;
}

#mainText11
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 50px;
    text-indent: 400px;
}



/*서브텍스트*/

#subText1
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 140px;
    text-indent: 145px;
}

#subText2
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 120px;
    text-indent: 165px;
}

#subText3
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 130px;
    text-indent: 155px;
}

#subText4
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;    
    color: #7f272a;

    margin-top: 100px;
    text-indent: 110px;
}










#gradation1
{
    height: 125px;
    left: 880px;
    position: absolute;
}


#gradation2
{   
    
    left: 180px;
    position: absolute;
}



#breakingNews
{
    position: relative;

    bottom: 100px;
    left: -75px;
}



.verGradation
{
    width: 66px;
    height: 280px;
    position: absolute;
    left: 606px;

}



.indent
{
    margin-left: 7px;
}





#menuBtn1
{
    transform: rotate(-90deg);

    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;    
    color: #c5c5c5;

    margin-top: 1350px;
    left: 50px;
    word-spacing : 10px;
}


#menuBtn2
{
    transform: rotate(-90deg);

    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;    
    color: #c5c5c5;

    margin-top: 1910px;
    left: 20px;
    word-spacing : 10px;
}



#menuBtn3
{
    transform: rotate(90deg);

    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;    
    color: #c5c5c5;

    margin-top: 1070px;
    left: 1045px;
    word-spacing : 2px;

}


#menuBtn4
{
    transform: rotate(90deg);

    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;    
    color: #c5c5c5;

    margin-top: 1630px;
    left: 1080px;
    word-spacing : 10px;
}










/* 팝업창 스타일*/

/* 팝업창 스타일 1*/

.popup1
{   
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    
    background-color: #fff;
    
    width: 900px;
    height: 948px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: right;
    /*padding: 20px;*/
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.5s;

    background-image: url(img/paper2.png);
}

.popup1 a 
{
    text-decoration: none;
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 700;    
    color: #1900ff;
    right: 18px;

}

.popup1:target
{
    opacity: 1;
}
.popup1:target+.dim
{
    opacity: 1;
    z-index: 0;
}


/* 팝업창 스타일 2*/
.popup2
{   
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    
    background-color: #fff;
    
    width: 900px;
    height: 948px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: right;
    /*padding: 20px;*/
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.5s;

    background-image: url(img/paper4.png);
}

.popup2 a 
{
    text-decoration: none;
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 700;    
    color: #1900ff;
    right: 18px;

}

.popup2:target
{
    opacity: 1;
}
.popup2:target+.dim
{
    opacity: 1;
    z-index: 0;
}


/* 팝업창 스타일 3*/
.popup3
{   
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    
    background-color: #fff;
    
    width: 900px;
    height: 948px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: right;
    /*padding: 20px;*/
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.5s;

    background-image: url(img/paper1.png);
}

.popup3 a 
{
    text-decoration: none;
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 700;    
    color: #1900ff;
    right: 18px;

}

.popup3:target
{
    opacity: 1;
}
.popup3:target+.dim
{
    opacity: 1;
    z-index: 0;
}


/* 팝업창 스타일 4*/
.popup4
{   
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    
    background-color: #fff;
    
    width: 900px;
    height: 948px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: right;
    /*padding: 20px;*/
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.5s;

    background-image: url(img/paper3.png);
}

.popup4 a 
{
    text-decoration: none;
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 700;    
    color: #1900ff;
    right: 18px;
}

.popup4:target
{
    opacity: 1;
}
.popup4:target+.dim
{
    opacity: 1;
    z-index: 0;
}

/*dim*/

.dim 
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 248.5%;
    background-color: rgba(0, 0, 0, 0.911) ;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}




/*dim넣는 이유는 팝업이 선택되지 않게 하려고*/






/*마우스 호버 컬러 - 메뉴 클릭 부분*/
#menuBtn1:hover{
    color: #b30000;
}
#menuBtn2:hover{
    color: #b30000;
}
#menuBtn3:hover{
    color: #b30000;
}
#menuBtn4:hover{
    color: #b30000;
}
/*마우스 호버 컬러 - 팝업창 X 클릭 부분*/
.popup a:hover{
    color: #b30000;
}



/*팝업 클릭시 뒤로 안 빠져서.
#menuBtn3
{
    z-index: 40;
}
*/


/*컬러
red - #b30000
dark red - #7f272a
*/









#slide
{
    display: flex;
  
    margin-top: 45px;
    margin-bottom: -32px;
    margin-left : 200px;
    z-index: 3;

}

#oneContainer
{
    width: 520px;
    height: 520px;
    display: flex;
    overflow: hidden;
}


#oneSlide   
{
    width: 2600px;
    display: flex;
    transition: transform 0.4s;
}


#interFace
{
    width: 520px;
    height: 520px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#leftA
{
    position: absolute;
    left: -32px;
    top: 250px;
}

#rightA
{
    position: absolute;
    right: -32px;
    top: 250px;
}



#bottomBtn
{

    display: flex;
    width: 150px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
}


#bottomBtn button
{
    padding: 4px 8px;
    border: 0px;
    border-radius: 3px;
    background-color: rgba(255, 21, 21, 0.486);
    margin-top: 110px;

}



#bottomBtn button:hover
{
    background-color: rgb(61, 56, 56);
}





#subTV
{
    position: absolute;
    left: 770px;
    top: 585px;
}


#subLine
{
    width: 180px;

    
    position: relative;
    left: 170%;
    margin-left: -490px;
    top: 58%;
    transform: rotate(18deg);
    z-index: -2;
    height: 1.7px;

}







/*이미지 썸네일 호버*/

/*
.img
{
    width: 457px;
    height: 280px;
    position: absolute;
}
*/


.imgTag
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;
}


.imgTag.on
{
    mix-blend-mode: normal;
    transition: all 0.5s;

}




.thumbnail
{   
    position: relative;
    width: 457px;
    height: 280px;
    background-color:white;
}















