@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body
{
    background-color: black;
    margin: 0px;
    font-size: 10px;

    height: 100vh;
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}





#mainContainer
{
    width: 1280px;
    background-color: crimson;
    margin: auto;
    position: relative;
}


.row
{
    width: 100%; 
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.col4{width:100%; margin: 0px 150px; background-color: rgba(128, 128, 128, 0);}
.col3{width:75%; margin: 0px 150px; background-color: rgba(128, 128, 128, 0);}
.col2{width:50%; margin: 0px 150px; background-color: rgba(128, 128, 128, 0);}
.col21{width:50%; margin: 0px 45px 0px 150px; background-color: white;}
.col22{width:50%; margin: 0px 150px 0px 45px ; background-color: white;}
.col1{width:25%; margin: 0px 150px; background-color: rgba(128, 128, 128, 0);}


.h30{height: 30px;}
.h150{height: 150px;}
.h350{height: 350px;}
.h280{height: 280px;}
.h300{height: 300px;}


.bg{
    width: 100%;
    height: 100%;
    position: absolute;
}


.img
{
    width: 445px;
    height: 280px;
    position: relative;
}

.img2
{
    width: 445px;
    height: 280px;
    position: relative;
}

.imgAl
{
    width: 100%;
    height: 100%;
    position: absolute;
    /*object-fit: cover;*/
}

.imgAl2
{
    width: 100%;
    height: 100%;
    position: absolute;
    /*object-fit: cover;*/
}



.textArea
{
    width: 445px;
    height: 280px;
    position: relative;
}

.subTitleFont
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;    
    color: #bf1a2d;
}

.titleFont
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;    
    color: white;
}

.midleFont
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 500;    
    color: rgba(255, 255, 255, 0.8);
    
    line-height: 320%;
}


.mainFont
{
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;    
    color: rgba(255, 255, 255, 0.4);
    

    line-height: 190%;
}

